<svg width="300" height="50" xmlns="http://www.w3.org/2000/svg">
  <a href="{{ ref('REQ_F1') }}">
    <rect width="300" height="50" rx="4" fill="#ddeeff" stroke="#336699"/>
    <text x="150" y="30" text-anchor="middle" font-size="12">{{ needs['REQ_F1'].title }}</text>
  </a>
</svg>
